* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#main {
  width:100vw;
  height:100vh;
  position: relative;
  transition: margin-left .5s;
}

#icon {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  -o-animation: 1s ease-out 0s 1 slideInFromBottom;
  -moz-animation: 1s ease-out 0s 1 slideInFromBottom;
  -webkit-animation: 1s ease-out 0s 1 slideInFromBottom;
}


h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: Roboto;
  margin-bottom: 10px;
}

h2 {
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto;
}

h3 {
  left: 50%;
  bottom: 5%;
  margin-left: -28px;
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  font-family: Roboto;
  cursor: pointer;
}

#text {
  bottom: 40px;
  left: 40px;
  margin-right: 40px;
  position: absolute;
  animation: fadein 4s;
  -o-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
}

#hourlyPanel {
  bottom: 0;
  width: 100%;
  height: 150px;
  display: none;
  overflow: auto;
  position: absolute;
  white-space: nowrap;
  box-sizing: border-box;
  border-top: 1px solid #8B8B8B;
  /*background-color: #aaaaaa;*/
}

.hourPanel {
  width:150px;
  height: 149px;
  text-align: center;
  display: inline-block;
  /*border: 1px solid green;*/
  /*background-color: orange;*/
}

#hourImg {
  height: 50px;
  margin: 12px 0 12px 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
}

#hourTemp {
  margin-bottom: 12px;
}

#hourTime {
  color: #8B8B8B;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }

  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
    opacity:1;
}
