* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  width:100%;
  height:100%;
}

img {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  -o-animation: 1s ease-out 0s 1 slideInFromBottom;
  -moz-animation: 1s ease-out 0s 1 slideInFromBottom;
  -webkit-animation: 1s ease-out 0s 1 slideInFromBottom;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: Roboto;
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: #8B8B8B;
}

#text {
  bottom: 40px;
  left: 40px;
  position: fixed;
  animation: fadein 4s;
  -o-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }

  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
    opacity:1;
}
